body {
  margin: 0 auto;
  margin: 20px 50px;

}

header {
  color: white;
  background-color: darkslategrey;
  display: flex;
  justify-content: center;
  border-bottom: 1px black solid;
}

h2 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.list {
  list-style-type: none;
  padding: 0;
}

.list-item {
  padding: 10px 10px;
  margin: 10px 0px;
  width: 350px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.winkelmandje .list-item:nth-child(odd) {
  background-color: orangered;
}

.winkelmandje .list-item:nth-child(even) {
  background-color: peru;
}

.boodschappenlijst .list-item:nth-child(odd) {
  background-color: darkblue;
}

.boodschappenlijst .list-item:nth-child(even) {
  background-color: blueviolet;
}

.shoppingcart-button {
  padding: 10px 30px;
  text-size-adjust: 120%;
}